{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Имя пользователя" %}</th>
        <th>{% translate "Полное имя" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.nick }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.create }}</td>
          <td>
            <a href="">{% translate "Имя пользователя" %}Изменить</a>
            <br>
            <a href="">{% translate "Имя пользователя" %}Удалить</a>
          </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}